In [29]:
import requests, csv
from bs4 import BeautifulSoup
import re
import pandas as pd
import tqdm
import numpy as np
from collections import OrderedDict

## Actors transformation

In [2]:
df1 = pd.read_excel('actors_sql_01.xlsx')
df2 = pd.read_excel('actors_sql_02.xlsx')
df3 = pd.read_excel('actors_sql_03.xlsx')
df4 = pd.read_excel('actors_sql_04.xlsx')
df5 = pd.read_excel('actors_sql_05.xlsx')
df6 = pd.read_excel('actors_sql_06.xlsx')
df7 = pd.read_excel('actors_sql_07.xlsx')
df8 = pd.read_excel('actors_sql_08.xlsx')
df9 = pd.read_excel('actors_sql_09.xlsx')
df10 = pd.read_excel('actors_sql_10.xlsx')
df11 = pd.read_excel('actors_sql_11.xlsx')
df12 = pd.read_excel('actors_sql_12.xlsx')

In [3]:
df_final = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])

In [4]:
df_final = df_final.drop(columns=["Unnamed: 0", "code_name", "id", "test", "id.1", "last_actor", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"])

In [5]:
imdb = list(df_final["imdb_id"].values)

In [6]:
casting = list(df_final["casting"].values)

In [7]:
actor_dict = {}

In [8]:
imdb_id = 'tt0416449'

In [9]:
temp_cast = []

In [10]:
for i in range(len(imdb)):
    if imdb[i] == imdb_id : 
        temp_cast.append(casting[i])
    elif imdb[i] != imdb_id : 
        actor_dict[imdb_id] = temp_cast
        imdb_id = imdb[i]
        temp_cast = []
        temp_cast.append(casting[i])

In [15]:
comp_casting = []

In [17]:
for i in actor_dict.values():
    comp_casting.append(", ".join(i))

In [25]:
df_cast = pd.DataFrame(columns=["imdb_id", "casting"])

In [26]:
df_cast["imdb_id"] = actor_dict.keys()
df_cast["casting"] = comp_casting

In [28]:
df_cast.to_excel("new_cast.xlsx")

## Directors Transformation

In [93]:
df = pd.read_excel('dir_id.xlsx')

In [94]:
df.head(10)

   Unnamed: 0     dir_id   dir_code                    dir
0           0  tt5475678  nm4219739  Christopher Sheffield
1           1  tt0215196  nm0070865            Dev Benegal
2           2  tt5971716  nm2544836          Nick Everhart
3           3  tt0088163  nm0661549          Domonic Paris
4           4  tt1870526  nm4415368  Aldous Byron Clarkson
5           5  tt0073741  nm0159726       Bent Christensen
6           6  tt0075255  nm0553941         Sergio Martino
7           7  tt0120187  nm0123009              Jeff Burr
8           8  tt1597725  nm1224330         Darko Lungulov
9           9  tt0144619  nm0843779        Waldemar Szarek

In [96]:
df_col = df.drop(columns=["Unnamed: 0", "dir_code"])

In [97]:
ids = list(df_col["dir_id"].values)

In [98]:
director = list(df_col["dir"].values)

In [99]:
dir_dict = {}

In [100]:
imdb_id = 'tt5475678'

In [101]:
temp_dir = []

In [102]:
for i in range(len(ids)):
    if ids[i] == imdb_id : 
        temp_dir.append(director[i])
    elif ids[i] != imdb_id : 
        dir_dict[imdb_id] = temp_dir
        imdb_id = ids[i]
        temp_dir = []
        temp_dir.append(director[i])

In [103]:
comp_dir = []

In [104]:
for i in dir_dict.values():
    comp_dir.append(", ".join(i))

In [105]:
len(dir_dict.keys())

5012

In [106]:
df_dir = pd.DataFrame(columns=["imdb_id", "director"])

In [107]:
df_dir["imdb_id"] = dir_dict.keys()
df_dir["director"] = comp_dir

In [108]:
df_dir.to_excel("new_dir2.xlsx")

## Productors transformation

In [72]:
dfp = pd.read_excel('prod_list_sql.xlsx')

In [73]:
dfp.head(10)

   Unnamed: 0   movie_id  prod_code                   production
0           0  tt0416449  co0002663                 Warner Bros.
1           1  tt0416449  co0159111      Legendary Entertainment
2           2  tt0416449  co0167271              Virtual Studios
3           3  tt0416449  co0129244   Hollywood Gang Productions
4           4  tt0416449  co0014103  Atmosphere Entertainment MM
5           5  tt0416449  co0140758         Mel's Cite du Cinema
6           6  tt0416449  co0122265                Nimar Studios
7           7  tt8579674  co0819670          Dreamworks Pictures
8           8  tt8579674  co0336601       Reliance Entertainment
9           9  tt8579674  co0644194        New Republic Pictures

In [75]:
df_colp = dfp.drop(columns=["Unnamed: 0", "prod_code"])

In [77]:
ids = list(df_colp["movie_id"].values)

In [78]:
production = list(df_colp["production"].values)

In [79]:
prod_dict = {}

In [80]:
imdb_id = 'tt0416449'

In [81]:
temp_prod = []

In [82]:
for i in range(len(ids)):
    if ids[i] == imdb_id : 
        temp_prod.append(production[i])
    elif ids[i] != imdb_id : 
        prod_dict[imdb_id] = temp_prod
        imdb_id = ids[i]
        temp_prod = []
        temp_prod.append(production[i])

In [87]:
comp_prod = []

In [88]:
for i in prod_dict.values():
    comp_prod.append(", ".join(i))

In [90]:
df_prod = pd.DataFrame(columns=["imdb_id", "production"])

In [91]:
df_prod["imdb_id"] = prod_dict.keys()
df_prod["production"] = comp_prod

In [92]:
df_prod.to_excel("new_prod.xlsx")