In [1]:
import requests, csv
from bs4 import BeautifulSoup
import re
import pandas as pd
import tqdm
import numpy as np
from collections import OrderedDict

In [4]:
df = pd.read_excel("new_prod.xlsx")

In [5]:
df.head(10)

,test,id,imdb_id,production,imdb_id.1,production.1,verif
0,60720,60719,tt0007183,"Pathé Exchange, Bach Films",tt0007183,NaN,tt0007183
1,42634,42633,tt0010298,Silent Hall of Fame Enterprises,tt0010298,NaN,tt0010298
2,24608,24607,tt0011173,"Digital Film Lab, Minerva Film",tt0011173,NaN,tt0011173
3,40162,40161,tt0013122,"Cosmograph, Les Documents Cinématographiques",tt0013122,NaN,tt0013122
4,13219,13218,tt0016691,Norsk Filminstitutt,tt0016691,NaN,tt0016691
5,78752,78751,tt0021484,Sfinks,tt0021484,NaN,tt0021484
6,5750,5749,tt0027256,"Bombay Talkies Gharana, Bombay Talkies Laborat...",tt0027256,NaN,tt0027256
7,15440,15439,tt0029989,"Kroger Babb Attractions, Something Weird Video...",tt0029989,NaN,tt0029989
8,74034,74033,tt0031229,"Sack Amusement Enterprises, J.H. Hoffberg Comp...",tt0031229,NaN,tt0031229
9,44926,44925,tt0035039,"La Société des Films Sirius, Gaumont, The Crit...",tt0035039,NaN,tt0035039

In [59]:
imdb = list(df.verif.dropna())

In [44]:
def verif_prod(imdb_id):
    
    
    #SELECT PRODUCTION
    
    r4 = requests.get("https://www.imdb.com/title/"+imdb_id+"/companycredits")
    bs4 = BeautifulSoup(r4.content)
    
    prod = bs4.find_all('h4',{"id":"production"})

    return len(prod)

In [68]:
test_dict = {}

In [84]:
for i in tqdm.tqdm(imdb[606:]):
    if verif_prod(i) > 0:
        test_dict[i] = 1
    else:
        test_dict[i] = 0

100%|██████████| 2183/2183 [28:15<00:00,  1.29it/s]

In [87]:
ids = list(test_dict.keys())

In [89]:
test = list(test_dict.values())

In [90]:
df_final = pd.DataFrame(columns=["id", "test"])

In [91]:
df_final["id"] = ids
df_final["test"] = test

In [92]:
df_final.to_excel("verif_final.xlsx")