In [359]:
import requests, csv
from bs4 import BeautifulSoup
import re
import pandas as pd
import tqdm
import numpy as np
from collections import OrderedDict
import itertools as its

In [360]:
def code_imdb(imdb_id):
    

    r1 = requests.get("https://www.imdb.com/title/"+imdb_id+"/fullcredits")
    bs1 = BeautifulSoup(r1.text)
    
    #DIRECTORS SELECTION
    try:
        direct = bs1.find('table', {'class': 'simpleTable simpleCreditsTable'}) \
                        .find_all('td', {'class': 'name'})
    except AttributeError:
        director = ""
        code_name = ""
        code_title = imdb_id
        
    #select name
    try : 
        director = [text.text.strip() for text in direct]
    except (IndexError, AttributeError, UnboundLocalError):
        director = ""
    
    #select code
    code_name = []
    for i in range(len(director)):
        try:
            code_name.append((str(direct).split('>\n<a href="/name/')[i+1]).split('/"> ')[0])
        except IndexError:
            code_name.append("")

    #select imdb_id
    code_title = list(its.repeat(imdb_id, len(director)))
    
    return code_title, code_name, director

In [361]:
df = pd.read_excel('id_title.xlsx')

In [362]:
imdb_id = df["id"].values

In [363]:
columns_name = ["imdb_id", "code_name", "director"]

In [356]:
imdb_id[75013]

'tt1122765'

In [364]:
director_df = pd.DataFrame(columns = columns_name)

In [365]:
temp_title = []
temp_code = []
temp_dir = []

In [366]:
for movie in tqdm.tqdm(imdb_id[70000:75013]):
    temp_title += code_imdb(movie)[0]
    temp_code += code_imdb(movie)[1]
    temp_dir += code_imdb(movie)[2]

100%|██████████| 5013/5013 [2:52:06<00:00,  2.06s/it]

In [193]:
temp_title[-1]

'tt1122765'

In [110]:
temp_code[-1]

'nm0007814'

In [111]:
temp_dir[-1]

'Hiam Abbass'

In [368]:
dir_id = pd.DataFrame(columns = ["dir_id"])

In [369]:
dir_code = pd.DataFrame(columns = ["dir_code"])

In [370]:
dir_df = pd.DataFrame(columns = ["dir"])

In [371]:
dir_id["dir_id"] = temp_title
dir_code["dir_code"] = temp_code
dir_df["dir"] = temp_dir

In [372]:
dir_id.to_excel("dir_id.xlsx")
dir_code.to_excel("dir_code.xlsx")
dir_df.to_excel("dir.xlsx")

In [367]:
len(temp_title), len(temp_code),len(temp_dir)

(5539, 5541, 5541)

In [190]:
temp1 = temp_title[:-1]
temp2 = temp_code

In [191]:
director_df["imdb_id"] = temp1
director_df["code_name"] = temp2
director_df["director"] = temp_dir

In [211]:
director_df["imdb_id"] = temp_title
director_df["code_name"] = temp_code
director_df["director"] = temp_dir

In [212]:
director_df.to_excel("director_list_sql2.xlsx")