In [1]:
import requests, csv
import pandas as pd
import tqdm
import numpy as np

In [3]:
df = pd.read_excel("info_to_ids.xlsx")

In [15]:
df = df.iloc[:,:4]

In [58]:
df = df.fillna("nothing")

In [152]:
df

,imdb_id,genres,country,language
0,tt0416449,"Action, Drama","USA, Canada, Bulgaria, Australia",English
1,tt8579674,"Drama, Thriller, War","USA, UK, India, Spain, Canada, China","English, French, German"
2,tt0078723,"Action, Comedy, War",USA,"English, Japanese, German, Spanish"
3,tt1190080,"Action, Adventure, Sci-Fi",USA,"English, French, Tibetan, Mandarin, Russian, H..."
4,tt1022603,"Comedy, Drama, Romance",USA,"English, French, Swedish"
...,...,...,...,...
85978,tt2723138,"Biography, Drama","Poland, Belarus",Belarusian
85979,tt0062529,Drama,Poland,Polish
85980,tt0429277,"Crime, Drama, Thriller",USA,English
85981,tt0301770,"Horror, Thriller",South Korea,Korean
85982,tt11110904,"Comedy, Horror",Iceland,Icelandic

### Creation of dictionnaries with lists

In [85]:
imdb = list(df.imdb_id.values)
mov_genre = list(df.genres.values)
mov_country = list(df.country.values)
mov_language = list(df.language.values)

In [99]:
mov_genre_dict = {}
mov_country_dict = {}
mov_language_dict = {}

In [100]:
for i in range(len(mov_genre)):
    mov_genre_dict[imdb[i]] = mov_genre[i].split(", ")

In [101]:
for i in range(len(mov_country)):
    if mov_country[i] == "nothing":
        mov_country_dict[imdb[i]] = ""
    else :    
        mov_country_dict[imdb[i]] = mov_country[i].split(", ")

In [102]:
for i in range(len(mov_language)):
    if mov_language[i] == "nothing":
        mov_language_dict[imdb[i]] = ""
    else :    
        mov_language_dict[imdb[i]] = mov_language[i].split(", ")

### Construction of infos dictionnaries

In [18]:
df_genre = pd.read_csv("SQL files/genre_sql.csv")
df_country = pd.read_csv("SQL files/country_sql.csv")
df_language = pd.read_csv("SQL files/language_sql.csv")

In [24]:
genre_id = list(df_genre.id.values)
genre = list(df_genre.genre.values)

In [26]:
country_id = list(df_country.id.values)
country = list(df_country.country.values)

In [27]:
language_id = list(df_language.id.values)
language = list(df_language.language.values)

In [29]:
genre_dict = {}
country_dict = {}
language_dict = {}

In [30]:
for i in range(len(genre)) : 
    genre_dict[genre[i]] = genre_id[i]

In [32]:
for i in range(len(country)) : 
    country_dict[country[i]] = country_id[i]

In [33]:
for i in range(len(language)) : 
    language_dict[language[i]] = language_id[i]

### Obtention of a list of info ids for each imdb_id

##### Genre

In [74]:
genre_imdb = []
genre_ids = []

In [103]:
for i in range(len(mov_genre_dict.values())):
    for j in list(mov_genre_dict.values())[i]:
        genre_imdb.append(list(mov_genre_dict.keys())[i])
        genre_ids.append(genre_dict[j])

In [144]:
df_genre_final = pd.DataFrame(columns=["imdb_id", "genre_id"])

In [145]:
df_genre_final["imdb_id"] = genre_imdb
df_genre_final["genre_id"] = genre_ids

In [146]:
df_genre_final.to_excel("movie_genre_sql.xlsx")

##### Country

In [121]:
country_imdb = []
country_ids = []

In [122]:
for i in range(len(mov_country_dict.values())):
    for j in list(mov_country_dict.values())[i]:
        if j == "":
            country_imdb.append(list(mov_country_dict.keys())[i])
            country_ids.append("")
        else : 
            country_imdb.append(list(mov_country_dict.keys())[i])
            country_ids.append(country_dict[j])

In [129]:
df_country_final = pd.DataFrame(columns=["imdb_id", "country_id"])

In [130]:
df_country_final["imdb_id"] = country_imdb
df_country_final["country_id"] = country_ids

In [133]:
df_country_final.to_excel("movie_country_sql.xlsx")

In [142]:
empty_country = pd.DataFrame(list(df["imdb_id"][df.country == "nothing"].values), columns= ["id"])

In [143]:
empty_country.to_excel("empty_country_sql.xlsx")

##### Language

In [147]:
language_imdb = []
language_ids = []

In [148]:
for i in range(len(mov_language_dict.values())):
    for j in list(mov_language_dict.values())[i]:
        if j == "":
            language_imdb.append(list(mov_language_dict.keys())[i])
            language_ids.append("")
        else : 
            language_imdb.append(list(mov_language_dict.keys())[i])
            language_ids.append(language_dict[j])

In [156]:
df_language_final = pd.DataFrame(columns=["imdb_id", "language_id"])

In [157]:
df_language_final["imdb_id"] = language_imdb
df_language_final["language_id"] = language_ids

In [158]:
df_language_final.to_excel("movie_language_sql.xlsx")

In [159]:
empty_language = pd.DataFrame(list(df["imdb_id"][df.language == "nothing"].values), columns= ["id"])

In [160]:
empty_language.to_excel("empty_language_sql.xlsx")