In [28]:
import requests, csv
from bs4 import BeautifulSoup
import re
import pandas as pd
import tqdm
import numpy as np

Les fichiers "verif" sont obtenus en prenant les imdb_id et la colonne Ã  tester dans le fichier "selection film.xlsx"

### Directors Conversion

In [3]:
df = pd.read_excel("verif_dir.xlsx")

In [6]:
df = df.fillna("")

In [7]:
imdb = list(df.imdb_id.values)
direct = list(df.director.values)

In [16]:
dir_keys = []
dir_values = []

In [17]:
for i in range(len(imdb)):
    dir_list = direct[i].split(", ")
    for j in range(len(dir_list)):
        dir_keys.append(imdb[i])
        dir_values.append(dir_list[j])

In [20]:
dir_df = pd.DataFrame(columns=['imdb_id', 'director'])

In [21]:
dir_df['imdb_id'] = dir_keys
dir_df['director'] = dir_values

In [23]:
dir_df.to_excel("dir_base.xlsx")

### Genre Conversion

In [42]:
df = pd.read_excel("genre_scraped.xlsx")

In [43]:
df = df.fillna("")

In [44]:
imdb = list(df.imdb_id.values)
genre = list(df.genres.values)

In [45]:
genre_keys = []
genre_values = []

In [46]:
for i in range(len(imdb)):
    genre_list = genre[i].split(" | ")
    for j in range(len(genre_list)):
        genre_keys.append(imdb[i])
        genre_values.append(genre_list[j])

In [47]:
genre_df = pd.DataFrame(columns=['imdb_id', 'genre'])

In [48]:
genre_df['imdb_id'] = genre_keys
genre_df['genre'] = genre_values

In [49]:
genre_df.to_excel("genre_base.xlsx")

### Country Conversion

In [12]:
df = pd.read_excel("verif_country.xlsx")

In [13]:
df = df.fillna("")

In [14]:
imdb = list(df.imdb_id.values)
country = list(df.country.values)

In [15]:
country_keys = []
country_values = []

In [16]:
for i in range(len(imdb)):
    country_list = country[i].split(", ")
    for j in range(len(country_list)):
        country_keys.append(imdb[i])
        country_values.append(country_list[j])

In [17]:
country_df = pd.DataFrame(columns=['imdb_id', 'country'])

In [18]:
country_df['imdb_id'] = country_keys
country_df['country'] = country_values

In [20]:
country_df.to_excel("country_base.xlsx")

### Language Conversion

In [21]:
df = pd.read_excel("verif_language.xlsx")

In [22]:
df = df.fillna("")

In [23]:
imdb = list(df.imdb_id.values)
language = list(df.language.values)

In [24]:
language_keys = []
language_values = []

In [25]:
for i in range(len(imdb)):
    language_list = language[i].split(", ")
    for j in range(len(language_list)):
        language_keys.append(imdb[i])
        language_values.append(language_list[j])

In [26]:
language_df = pd.DataFrame(columns=['imdb_id', 'language'])

In [27]:
language_df['imdb_id'] = language_keys
language_df['language'] = language_values

In [28]:
language_df.to_excel("language_base.xlsx")

### Production Conversion

##### String to list

In [29]:
df = pd.read_excel("verif_prod.xlsx")

In [30]:
df = df.fillna("")

In [31]:
imdb = list(df.imdb_id.values)
prod = list(df.production.values)

In [32]:
prod_keys = []
prod_values = []

In [33]:
for i in range(len(imdb)):
    prod_list = prod[i].split(", ")
    for j in range(len(prod_list)):
        prod_keys.append(imdb[i])
        prod_values.append(prod_list[j])

In [34]:
prod_df = pd.DataFrame(columns=['imdb_id', 'production'])

In [35]:
prod_df['imdb_id'] = prod_keys
prod_df['production'] = prod_values

In [36]:
prod_df.to_excel("prod_base.xlsx")

##### List to string

In [104]:
df = pd.read_excel("prod_final.xlsx")

In [105]:
df = df.fillna("")

In [106]:
imdb = list(df.imdb_id.values)
prod = list(df.production.values)

In [153]:
dict_prod = {}

In [154]:
ids = ""

In [155]:
temp_prod = []

In [156]:
for i in tqdm.tqdm(range(len(imdb))):
    if ids == "":
        ids = imdb[i]
        temp_prod.append(prod[i])
    elif ids == imdb[i]:
        temp_prod.append(prod[i])
    elif ids != imdb[i]:
        dict_prod[ids] = " | ".join(temp_prod)
        ids = imdb[i]
        temp_prod = []
        temp_prod.append(prod[i])

100%|ââââââââââ| 223804/223804 [00:00<00:00, 1023765.68it/s]

In [157]:
prod_df = pd.DataFrame(columns=['imdb_id', 'production'])

In [158]:
prod_df['imdb_id'] = list(dict_prod.keys())
prod_df['production'] = list(dict_prod.values())

In [160]:
prod_df.to_excel("prod_test.xlsx")

In [102]:
prod[-2:]

['La Xarxa de ComunicaciÃ³ Local', "Massa d'Or Produccions"]

In [103]:
imdb[-1]

'tt9914942'

### Casting Conversion

##### String to list

In [47]:
df = pd.read_excel("verif_casting.xlsx")

In [48]:
df = df.fillna("")

In [49]:
imdb = list(df.imdb_id.values)
cast = list(df.casting.values)

In [50]:
cast_keys = []
cast_values = []

In [51]:
for i in range(len(imdb)):
    cast_list = cast[i].split(", ")
    for j in range(len(cast_list)):
        cast_keys.append(imdb[i])
        cast_values.append(cast_list[j])

In [52]:
cast_df = pd.DataFrame(columns=['imdb_id', 'casting'])

In [53]:
cast_df['imdb_id'] = cast_keys
cast_df['casting'] = cast_values

In [65]:
cast_df1 = cast_df.iloc[:973673]

In [68]:
cast_df2 = cast_df.iloc[973673:]

In [69]:
cast_df1.to_excel("cast_base1.xlsx")

In [70]:
cast_df2.to_excel("cast_base2.xlsx")

##### List to string

In [3]:
df1 = pd.read_excel("cast_base1.xlsx")

In [4]:
df2 = pd.read_excel("cast_base2.xlsx")

In [5]:
df = pd.concat([df1, df2])

In [9]:
df.iloc[-1:,:]

          imdb_id        casting       code
973559  tt9914942  AdriÃ  Salazar  nm7452858

In [10]:
df = df.fillna("")

In [11]:
imdb = list(df.imdb_id.values)
cast = list(df.casting.values)

In [12]:
dict_cast = {}

In [13]:
ids = ""

In [14]:
temp_cast = []

In [15]:
for i in tqdm.tqdm(range(len(imdb))):
    if ids == "":
        ids = imdb[i]
        temp_cast.append(cast[i])
    elif ids == imdb[i]:
        temp_cast.append(cast[i])
    elif ids != imdb[i]:
        dict_cast[ids] = " | ".join(temp_cast)
        ids = imdb[i]
        temp_cast = []
        temp_cast.append(cast[i])

100%|ââââââââââ| 1947233/1947233 [00:01<00:00, 1917809.96it/s]

In [18]:
cast_df = pd.DataFrame(columns=['imdb_id', 'casting'])

In [19]:
cast_df['imdb_id'] = list(dict_cast.keys())
cast_df['casting'] = list(dict_cast.values())

In [20]:
cast_df

         imdb_id                                            casting
0      tt0000009  Blanche Bayliss | William Courtenay | Chauncey...
1      tt0000574  Elizabeth Tait | John Tait | Norman Campbell |...
2      tt0001892  Asta Nielsen | Valdemar Psilander | Gunnar Hel...
3      tt0002101  Helen Gardner | Pearl Sindelar | Miss Fielding...
4      tt0002130  Salvatore Papa | Arturo Pirovano | Giuseppe de...
...          ...                                                ...
85975  tt9906644  Vineeth Sreenivasan | Aparna Das | Basil Josep...
85976  tt9908390  Dany Boon | Philippe Katerine | Anne Serra | S...
85977  tt9911196  Herman Finkers | Johanna ter Steege | Leonie t...
85978  tt9911774  Anoop Chandran | Indrans | Sona Nair | Simon B...
85979  tt9914286  Ahmet Faik Akinci | Belma Mamati | Metin KeÃ§ec...

[85980 rows x 2 columns]

In [21]:
cast_df.to_excel("cast_final.xlsx")