In [169]:
import requests, csv
from bs4 import BeautifulSoup
import re
import pandas as pd
import tqdm
import numpy as np
from collections import OrderedDict
from datetime import datetime, date

In [247]:
def movie_query(query, date_min = 1900, date_max = int(date.today().year)):
    
    # dictionary of characters to change in URL
    char_dict = {"!": "%21", "#": "%23", "$": "%24", "&": "%26", "'": "%27", "(": "%28", ")": "%29", "*": "%2A", \
             "+": "%2B", ",": "%2C", "/": "%2F", ":": "%3A", ";": "%3B", "=": "%3D", "?": "%3F", "@": "%40", \
             "[": "%5B", "]": "%5D", " ": "+"}
    
    query = query.strip()
    if " !" in query:
        query.replace(" !", "!") 
    elif " ?" in query:
        query.replace(" ?", "?")
    elif " :" in query:
        query.replace(" :", ":")
    elif "’" in query:
        query.replace("’", "'")
        
    modif_query = [char_dict[i] if i in char_dict.keys() else i for i in query]
    modif_query = "".join(modif_query)
    
    r = requests.get("https://www.imdb.com/find?q="+modif_query)
    bs = BeautifulSoup(r.text)

    titles = bs.find_all('td', {'class': 'result_text'})

    clean_titles= []
    dates = []
    try :
        for i in range(len(titles)) : 
            clean_titles.append(str(titles[i]).split('/">')[1].split('</a>')[0])
            if "(TV Episode)" in str(titles[i]):
                dates.append(1492)
            elif "I)" in str(titles[i]):
                dates.append(str(titles[i]).split('I) (')[1].split(')')[0])
            elif "(IV)" in str(titles[i]):
                dates.append(str(titles[i]).split('(IV) (')[1].split(')')[0])
            elif "(in development)" in str(titles[i]):
                dates.append(date_max+1)
            else :
                dates.append(str(titles[i]).split('</a> (')[1].split(')')[0])
    except IndexError:
        clean_titles.append("no_title")
        dates.append(1492)
    
    range_date = range(int(date_min), int(date_max)+1)
    ids = [str(titles[i]).split('href="/title/')[1].split('/">')[0] for i in range(len(clean_titles)) \
        if clean_titles[i].lower() == query.lower() and int(dates[i]) in range_date]
        
    if len(ids) == 0 :
        imdb_id = ""    
    else :
        imdb_id = ", ".join(ids)
    
    return query, imdb_id

In [176]:
df = pd.read_csv("sept_movies.csv")

In [177]:
queries = list(df.title.values)

In [250]:
ids = []

In [252]:
for movie in (queries):
    ids.append(movie_query(movie, 2019, 2021))

In [253]:
tot_df = pd.DataFrame(ids, columns=["title", 'imdb'])

In [257]:
test = 'abc'

In [258]:
test.replace('b', 'e')

'aec'

In [255]:
tot_df[0:50]

                                                title                    imdb
0             Shang-Chi et la Légende des Dix Anneaux               tt9376612
1                                         Un Triomphe              tt12444440
2                                           Malignant   tt3811906, tt14040058
3                    Une histoire d'amour et de désir              tt12077970
4                                   Chers camarades !
5                                                Gogo               tt8359846
6                                      Laila in Haifa              tt12716170
7                                      Ride Your Wave               tt9193612
8   Le Fils de l’épicière, le maire, le village et...
9                                Atarrabi et Mikelats
10                                           Il Varco               tt8611310
11                             Être avec les Abeilles              tt15336050
12                                    Parfum de femme
13                                          Nos liens              tt11280658
14                           Au nom du peuple italien
15                                     Afrofuturistik
16                               L'Homme à la Ferrari
17                                      Demain Annecy
18                                        Boîte noire  tt10341034, tt11886344
19                                          Délicieux              tt10738536
20                                       Les Méchants              tt12594018
21                                     Serre Moi Fort              tt13137576
22                                            Respect   tt2452150, tt11137272
23                                          Supernova              tt11169050
24                                    9 jours à Raqqa              tt12444432
25                                   La Nuit des rois               tt8132778
26                                              Pingu
27                              Le Braquage du siècle              tt10948718
28                                      One More Jump              tt11146570
29               Quand les tomates rencontrent Wagner              tt10449094
30                Barbie : Grande Ville, Grands Rêves
31                                            La Cure              tt15101020
32                                                I&I
33                                           Thalaivi              tt10152736
34    Notre-Dame de Paris (Opéra de Paris-FRA Cinéma)
35                            Le Ministère de la peur
36                                               Nora              tt11123392
37          Rush : Cinema Strangiato - Director’s Cut
38                                               Dune               tt1160419
39                                 L'Origine Du Monde              tt10551904
40                                      Pourris gâtés              tt13079150
41                               La Proie d'une ombre               tt9731534
42                                 Les Amours d’Anaïs
43                                         Summertime
44                                    Le Genou d’Ahed
45                               L'Affaire Collective              tt10706602
46                                         Blue Bayou              tt11121664
47                     L'Etat du Texas contre Melissa
48            Mush-Mush et le petit monde de la forêt
49                                             Spiral

In [129]:
filter_1 = tot_df["imdb"] == ""
filter_2 = tot_df["imdb"] != ""

In [130]:
no_id_df = tot_df[filter_1].drop("imdb", 1).set_index("title")

In [131]:
multiple_id = tot_df[tot_df["imdb"].str.contains(", tt")].set_index("title")

In [132]:
scrap_df = tot_df[filter_2][-tot_df["imdb"].str.contains(", tt")].set_index("title")

/home/leo/.pyenv/versions/3.7.6/envs/vivadata/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [133]:
no_id_df

Empty DataFrame
Columns: []
Index: [17 Blocks, 1871, la Commune: portraits d'une révolution , 1BR: The Apartement , 2067 , 7 jours , A Classic Horror Story , À l'école des scaphandriers , À la folie , À la vie , À tous les garçons: Pour toujours et à jamais , A Week Away , Affiche L'Amour puissance mille, Afrique du Sud, corruption au sommet de l’État , Aline , American Nightmare 5: Sans limites , Amérique, nous voilà! , Âmes sensibles , Anti-Life , Attention au départ! , Au crépuscule , Avec un sourire, la Révolution! , Aya et la sorcière , Bad Trip , Balavoine, 35 ans déjà: sa vie, sa bataille , Balloon , Billie Eilish: The World's a Little Blurry , Blackfish 2 , Boîte noire , Boonie Bears: To the Rescue! , C'est la vie , C’est quoi ce papy ?! , Candyman , Cendrillon , Chacun chez soi , Chaos Walking , Charlie Chaplin, le génie de la liberté , Charlie, le journal qui ne voulait pas mourir , Cherry , Cibles mouvantes , Cigare au miel , Clifford , Come Away , Conjuring: Sous l'emprise du diable , Cosmoball , Crack: Cocaïne, corruption et conspiration , D'Houblons , D'où l'on vient , De l'ombre à la lumière , De l'or pour les chiens , De nos frères blessés , Dead Pigs , Deadly Illusions , Délicieux , Demon Slayer: Le Train de l'infini , Des hommes , Des vies sans école , Désigné coupable , Deux flics pour une bique , Diablo: The Ultimate Race , Don't Breathe 2 , Douce France , Drive My Car , Ecole Kourtrajmé , En attendant la neige , Encanto: La Fantastique famille Madrigal , Ennemi invisible, Entendez-vous dans vos campagnes , Entre deux trains, Envole-moi , État d'esprit , Eugénie Grandet , Falling , Fast & Furious 9, Faustine, apôtre de la miséricorde , Fidélité , Finch , Fisherman's Friends , Fou de toi , France , Free Guy , French Exit , Froid mortel , Fukushima 50 , Funambules , Gagarine , Gaza mon amour , Godzilla vs Kong , Gogo , Halloween Kills , Harami , Haseen Dillruba , Helmut Newton, l'effronté , Héroes: Silence et rock and roll , Herself , Hitman & Bodyguard 2 , Hôtel Transylvanie: Changements monstres , House of Gucci , I Am Greta , Ibrahim , Il était une fois Thalassa , ...]

[269 rows x 0 columns]

In [134]:
multiple_id

                                                imdb
title
Dune                            tt1160419, tt9446442
Roohi                          tt10098288, tt0489015
Wonder Woman 1984  tt7126948, tt13826758, tt15149496

In [135]:
scrap_df

                                             imdb
title
'Ohana ou le Trésor caché              tt10332588
Ammonite                                tt7983894
D'Artagnan et les Trois Mousquetaires  tt11777920
Digger                                  tt9389916
Envol                                  tt13335652
Freaky                                 tt10919380
Happy New Love                         tt13318052
Irul                                   tt13103212
L'Homme parfait                        tt10415020
S.O.S. Fantômes: L'Héritage             tt4513678
Teddy                                  tt10469804
The Minimalists: Less Is Now           tt13583144
Tomber pour Ali                        tt11374498

In [136]:
scrap_df.to_csv("scrap_it.csv")

In [137]:
no_id_df.to_csv("future_scrap2.csv")

In [138]:
multiple_id.to_csv("multiple_id2.csv")