In [30]:
import requests, csv
from bs4 import BeautifulSoup
import re
import pandas as pd
import tqdm
import numpy as np
from collections import OrderedDict
from datetime import datetime, date

In [163]:
def movie_query(query, date_min = 1900, date_max = int(date.today().year)):
    
    # dictionary of characters to change in URL
    char_dict = {"!": "%21", "#": "%23", "$": "%24", "&": "%26", "'": "%27", "(": "%28", ")": "%29", "*": "%2A", \
             "+": "%2B", ",": "%2C", "/": "%2F", ":": "%3A", ";": "%3B", "=": "%3D", "?": "%3F", "@": "%40", \
             "[": "%5B", "]": "%5D", " ": "+"}
    
    query = query.strip()
    modif_query = [char_dict[i] if i in char_dict.keys() else i for i in query]
    modif_query = "".join(modif_query)
    
    r = requests.get("https://www.imdb.com/find?q="+modif_query)
    bs = BeautifulSoup(r.text)

    titles = bs.find_all('td', {'class': 'result_text'})

    clean_titles= []
    dates = []
    try :
        for i in range(len(titles)) : 
            clean_titles.append(str(titles[i]).split('/">')[1].split('</a>')[0])
            if "(TV Episode)" in str(titles[i]):
                dates.append(1492)
            elif "(I)" in str(titles[i]):
                dates.append(str(titles[i]).split('(I) (')[1].split(')')[0])
            elif "(IV)" in str(titles[i]):
                dates.append(str(titles[i]).split('(IV) (')[1].split(')')[0])
            else :
                dates.append(str(titles[i]).split('</a> (')[1].split(')')[0])
    except IndexError:
        clean_titles.append("")
        dates.append("")
    
    range_date = range(date_min, date_max+1)
    ids = [str(titles[i]).split('href="/title/')[1].split('/">')[0] for i in range(len(clean_titles)) \
        if clean_titles[i].lower() == query.lower() and int(dates[i]) in range_date]
        
    if len(ids) == 0 :
        imdb_id = ""    
    else :
        imdb_id = ", ".join(ids)
    
    return query, imdb_id

In [124]:
df = pd.read_csv("movies_2021.csv")

In [125]:
queries = list(df.title.values)

In [164]:
queries = ["Free Guy "]

In [165]:
ids = []

In [166]:
for movie in tqdm.tqdm(queries):
    ids.append(movie_query(movie))

100%|██████████| 1/1 [00:00<00:00,  1.90it/s]

In [167]:
tot_df = pd.DataFrame(ids, columns=["title", 'imdb'])

In [168]:
tot_df

      title       imdb
0  Free Guy  tt6264654

In [129]:
filter_1 = tot_df["imdb"] == ""
filter_2 = tot_df["imdb"] != ""

In [130]:
no_id_df = tot_df[filter_1].drop("imdb", 1).set_index("title")

In [131]:
multiple_id = tot_df[tot_df["imdb"].str.contains(", tt")].set_index("title")

In [132]:
scrap_df = tot_df[filter_2][-tot_df["imdb"].str.contains(", tt")].set_index("title")

/home/leo/.pyenv/versions/3.7.6/envs/vivadata/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [133]:
no_id_df

Empty DataFrame
Columns: []
Index: [17 Blocks, 1871, la Commune: portraits d'une révolution , 1BR: The Apartement , 2067 , 7 jours , A Classic Horror Story , À l'école des scaphandriers , À la folie , À la vie , À tous les garçons: Pour toujours et à jamais , A Week Away , Affiche L'Amour puissance mille, Afrique du Sud, corruption au sommet de l’État , Aline , American Nightmare 5: Sans limites , Amérique, nous voilà! , Âmes sensibles , Anti-Life , Attention au départ! , Au crépuscule , Avec un sourire, la Révolution! , Aya et la sorcière , Bad Trip , Balavoine, 35 ans déjà: sa vie, sa bataille , Balloon , Billie Eilish: The World's a Little Blurry , Blackfish 2 , Boîte noire , Boonie Bears: To the Rescue! , C'est la vie , C’est quoi ce papy ?! , Candyman , Cendrillon , Chacun chez soi , Chaos Walking , Charlie Chaplin, le génie de la liberté , Charlie, le journal qui ne voulait pas mourir , Cherry , Cibles mouvantes , Cigare au miel , Clifford , Come Away , Conjuring: Sous l'emprise du diable , Cosmoball , Crack: Cocaïne, corruption et conspiration , D'Houblons , D'où l'on vient , De l'ombre à la lumière , De l'or pour les chiens , De nos frères blessés , Dead Pigs , Deadly Illusions , Délicieux , Demon Slayer: Le Train de l'infini , Des hommes , Des vies sans école , Désigné coupable , Deux flics pour une bique , Diablo: The Ultimate Race , Don't Breathe 2 , Douce France , Drive My Car , Ecole Kourtrajmé , En attendant la neige , Encanto: La Fantastique famille Madrigal , Ennemi invisible, Entendez-vous dans vos campagnes , Entre deux trains, Envole-moi , État d'esprit , Eugénie Grandet , Falling , Fast & Furious 9, Faustine, apôtre de la miséricorde , Fidélité , Finch , Fisherman's Friends , Fou de toi , France , Free Guy , French Exit , Froid mortel , Fukushima 50 , Funambules , Gagarine , Gaza mon amour , Godzilla vs Kong , Gogo , Halloween Kills , Harami , Haseen Dillruba , Helmut Newton, l'effronté , Héroes: Silence et rock and roll , Herself , Hitman & Bodyguard 2 , Hôtel Transylvanie: Changements monstres , House of Gucci , I Am Greta , Ibrahim , Il était une fois Thalassa , ...]

[269 rows x 0 columns]

In [134]:
multiple_id

                                                imdb
title
Dune                            tt1160419, tt9446442
Roohi                          tt10098288, tt0489015
Wonder Woman 1984  tt7126948, tt13826758, tt15149496

In [135]:
scrap_df

                                             imdb
title
'Ohana ou le Trésor caché              tt10332588
Ammonite                                tt7983894
D'Artagnan et les Trois Mousquetaires  tt11777920
Digger                                  tt9389916
Envol                                  tt13335652
Freaky                                 tt10919380
Happy New Love                         tt13318052
Irul                                   tt13103212
L'Homme parfait                        tt10415020
S.O.S. Fantômes: L'Héritage             tt4513678
Teddy                                  tt10469804
The Minimalists: Less Is Now           tt13583144
Tomber pour Ali                        tt11374498

In [136]:
scrap_df.to_csv("scrap_it.csv")

In [137]:
no_id_df.to_csv("future_scrap2.csv")

In [138]:
multiple_id.to_csv("multiple_id2.csv")