In [1]:
import requests, csv
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from collections import OrderedDict
import tqdm

In [2]:
def movie_imdb(imdb_id):

    #SELECT SYNOPSIS, GENRES, RATING, NUMBER RATE, YEAR, TITLE, ORIGINAL TITLE, COUNTRY,
    #SELECT LANGUAGE, BUDGET

    r1 = requests.get("https://www.imdb.com/title/"+imdb_id)
    bs = BeautifulSoup(r1.text, "html.parser")

    # Dictionnary for title, orginal_title, rating, num_rate

    info_dict = bs.find('script', {'type': 'application/ld+json'})
    info_dict = info_dict.text
    info_dict = OrderedDict(eval(info_dict))

    original_title = info_dict["name"]

    if original_title.find("&apos;") != -1:
        original_title = original_title.replace("&apos;", "'")

    if original_title.find("&amp") != -1:
        original_title = original_title.replace("&amp", "&")

    try :
        title = info_dict["alternateName"]
    except KeyError:
        title = info_dict["name"]

    if title.find("&amp") != -1:
        title = title.replace("&amp", "&")

    if title.find("&apos;") != -1:
        title = title.replace("&apos;", "'")

    try :
        rating = info_dict['aggregateRating']['ratingValue']
        num_rate = info_dict['aggregateRating']['ratingCount']
    except KeyError:
        rating = ""
        num_rate = ""

    #Dictionnary for budget, bud_currency

    info_dict_2 = bs.findAll('script', {'id': re.compile('__NEXT_DATA__')})
    info_dict_2 = [text.text for text in info_dict_2][0]
    info_dict_2 = OrderedDict(eval(info_dict_2, {'null': None, 'false':None, 'true':None}))
    info_dict_2_1 = info_dict_2['props']['urqlState']

    for key in info_dict_2_1.keys():
        try:
            budget = info_dict_2_1[key]['data']['title']['productionBudget']
            def_key = key
        except KeyError:
            continue

    if budget == None:
        budget = ""
        bud_currency = ""
    else :
        budget = info_dict_2_1[def_key]['data']['title']['productionBudget']["budget"]["amount"]
        bud_currency = info_dict_2_1[def_key]['data']['title']['productionBudget']["budget"]["currency"]


    year = bs.findAll('a', {'class': re.compile('ipc-link')})
    year = int([text.text for text in year][0].strip("– "))

    genre_bs = bs.findAll('a', {'class': re.compile('ipc-metadata-list-item')})
    genre_bs = [text.text for text in genre_bs]

    genre_list = ["Action", "Adult", "Adventure", "Animation", "Biography", "Comedy", "Crime", "Documentary",
              "Drama", "Family", "Fantasy", "Film-Noir", "History", "Horror", "Music", "Musical", "Mystery",
              "News", "Reality-TV", "Romance", "Sci-Fi", "Short", "Sport", "Thriller", "War", "Western"]

    genres = [genre for genre in genre_bs if genre in genre_list]

    try :
        syn = bs.findAll('div', {'class': 'ipc-html-content ipc-html-content--base'})[0]
        syn = [text.text for text in syn]
        synopsis = syn[0].split(" —")[0]
    except IndexError:
        synopsis = ""


    countries = bs.findAll('a', {'href': re.compile('country_of_origin')})
    if len(countries) == 0:
        country = ['None']
    else:
        country = ["USA" if text.text == "United States" else "UK" if text.text == "United Kingdom" \
                    else text.text for text in countries]



    language = bs.findAll('a', {'href': re.compile('primary_language')})
    if len(language) == 0:
        language = ["No Info"]
    else :
        language = [text.text for text in language]


    #SELECT CASTING, DIRECTOR, WRITERS

    r2 = requests.get("https://www.imdb.com/title/"+imdb_id+"/fullcredits")
    bs2 = BeautifulSoup(r2.text, "html.parser")

    #select casting
    cast_list = bs2.find_all('table', {'class': 'cast_list'})
    if cast_list == None or cast_list == []:
        cast = [""]
        cast_code = [""]
    else :
        cast_list_test = bs2.find('table', {'class': 'cast_list'}).find_all('td', {'class':'primary_photo'})
        if len(cast_list_test) >= 30 :
            cast = [str(cast_list).split('img alt="')[i].split('" class="')[0] for i in range(1,31)]
            cast_code = [str(cast_list_test).split('/name/')[i].split('/">')[0] for i in range(1,31)]
        else :
            cast = [str(cast_list).split('img alt="')[i].split('" class="')[0] \
                    for i in range(1,len(cast_list_test)+1)]
            cast_code = [str(cast_list_test).split('/name/')[i].split('/">')[0] \
                          for i in range(1,len(cast_list_test)+1)]

    #select director
    test_dir = bs2.find('h4', {'id':'director'})
    if test_dir == None:
        director = [""]
        dir_code = [""]
    else :
        direct = bs2.find('table', {'class': 'simpleTable simpleCreditsTable'}) \
                .find_all('td', {'class': 'name'})
        direct_t = [text.text for text in direct]
        director = [i.strip() for i in direct_t]
        dir_code = [(str(direct).split('href="/name/')[i+1]).split('/"> ')[0] for i in range(len(director))]

    #SELECT RUNTIME

    r3 = requests.get("https://www.imdb.com/title/"+imdb_id+"/technical")
    bs3 = BeautifulSoup(r3.text, "html.parser")

    time = bs3.find('table', {'class': 'dataTable labelValueTable'}).find_all('tr', {'class': 'odd'})
    runtime = [text.text for text in time]
    try:
        if ("min (" in (runtime[0].strip())) and (" min)" in (runtime[0].strip())):
            duration = int((runtime[0].strip().split("min (")[1]).split(" min)")[0])
        elif "hr (" in (runtime[0].strip()):
            duration = int((runtime[0].strip().split("hr (")[1]).split(" min)")[0])
        else :
            duration = int((runtime[0].strip().split("Runtime")[1]).split(" min")[0])
    except (ValueError, IndexError):
        duration = ""


    #SELECT PRODUCTION

    r4 = requests.get("https://www.imdb.com/title/"+imdb_id+"/companycredits")
    bs4 = BeautifulSoup(r4.content, "html.parser")
    test = bs4.find('h4', {'id': 'production'})
    if test == None:
        production = [""]
        prod_code = [""]
    else :
        prod_list = bs4.find('ul', {'class': 'simpleList'}).find_all("li")
        prod_t = [text.text.strip() for text in prod_list]
        production = [pro.split("   ")[0] if "   " in pro else pro for pro in prod_t]

        prod_code = [(str(i).split("pany/")[1]).split('">')[0] for i in prod_list]

    if rating != "":
        return imdb_id, title, original_title, year, director, dir_code, cast, cast_code, genres, duration, \
        country, language, production, prod_code, synopsis, rating, num_rate, budget, bud_currency
    else:
        return imdb_id, title,"","","","","","","","","","","","","","","","",""

In [3]:
df = pd.read_csv('movies_to_scrap/scrap_it.csv')

In [4]:
imdb_id = df["imdb"].values

In [5]:
db_df = pd.read_csv('db_backup/movies_db.csv')

In [6]:
imdb_db = db_df["imdb_id"].values

In [7]:
final_imdb = [i for i in imdb_id if i not in imdb_db]

In [8]:
final_imdb

['tt16579354', 'tt6013920', 'tt11286314']

In [9]:
movies = []

In [10]:
for movie in tqdm.tqdm(final_imdb):
    movies.append(movie_imdb(movie))

100%|██████████| 3/3 [00:12<00:00,  4.07s/it]

In [11]:
movies

[('tt16579354',
  "L'odyssée antarctique",
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''),
 ('tt6013920',
  'Copyright Van Gogh',
  "China's Van Goghs",
  2016,
  ['Yu Haibo', 'Yu Tianqi Kiki'],
  ['nm8398121', 'nm8398120'],
  ['Xiaoyong Zhao', 'Yongjiu Zhou', 'Yue'],
  ['nm9133112', 'nm9133113', 'nm9133114'],
  ['Documentary'],
  80,
  ['China', 'Netherlands'],
  ['Dutch', 'Chinese', 'English'],
  ['Century Image Media', 'Trueworks', 'International Media Support'],
  ['co0624443', 'co0250110', 'co0371416'],
  'An intimate portrait of a peasant-turned oil painter transitioning from making copies of iconic Western paintings to creating his own authentic works of art.',
  7.5,
  279,
  '',
  ''),
 ('tt11286314',
  "Don't Look Up: Déni cosmique",
  "Don't Look Up",
  2021,
  ['Adam McKay'],
  ['nm0570912'],
  ['Leonardo DiCaprio',
   'Jennifer Lawrence',
   'Meryl Streep',
   'Cate Blanchett',
   'Rob Morgan',
   'Jonah Hill',
   'Mark Rylance',
   'Tyler Perry',
   'Timothée Chalamet',
   'Ron Perlman',
   'Ariana Grande',
   'Kid Cudi',
   'Himesh Patel',
   'Melanie Lynskey',
   'Michael Chiklis',
   'Tomer Sisley',
   'Paul Guilfoyle',
   'Robert Joy',
   'Jack Alberts',
   'Ting Lik',
   'Lance A. Williams',
   'Shimali De Silva',
   'Hettienne Park',
   'Rafael Silva',
   'Lonnie Farmer',
   'Homa Sarabi-Daunais',
   'Barbara Douglass',
   'Rena Maliszewski',
   'Erik Parillo',
   'Robert Radochia'],
  ['nm0000138',
   'nm2225369',
   'nm0000658',
   'nm0000949',
   'nm1726032',
   'nm1706767',
   'nm0753314',
   'nm1347153',
   'nm3154303',
   'nm0000579',
   'nm3812858',
   'nm3264596',
   'nm2797744',
   'nm0001491',
   'nm0004821',
   'nm0803037',
   'nm0002117',
   'nm0431451',
   'nm7152505',
   'nm13199365',
   'nm6670248',
   'nm13199366',
   'nm1782292',
   'nm9770180',
   'nm0267772',
   'nm13199367',
   'nm13199368',
   'nm2728453',
   'nm0661504',
   'nm6636458'],
  ['Comedy', 'Drama', 'Sci-Fi'],
  138,
  ['USA'],
  ['English'],
  ['Bluegrass Films', 'Hyperobject Industries'],
  ['co0235528', 'co0770923'],
  "Kate Dibiasky (Jennifer Lawrence), an astronomy grad student, and her professor Dr. Randall Mindy (Leonardo DiCaprio) make an astounding discovery of a comet orbiting within the solar system. The problem - it's on a direct collision course with Earth. The other problem? No one really seems to care. Turns out warning mankind about a planet-killer the size of Mount Everest is an inconvenient fact to navigate. With the help of Dr. Oglethorpe (Rob Morgan), Kate and Randall embark on a media tour that takes them from the office of an indifferent President Orlean (Meryl Streep) and her sycophantic son and Chief of Staff, Jason (Jonah Hill), to the airwaves of The Daily Rip, an upbeat morning show hosted by Brie (Cate Blanchett) and Jack (Tyler Perry). With only six months until the comet makes impact, managing the 24-hour news cycle and gaining the attention of the social media obsessed public before it's too late proves shockingly comical - what will it take to get the world to just look up?.",
  7.3,
  84335,
  '',
  '')]

In [12]:
movie_df = pd.DataFrame(movies)

In [13]:
movie_keep = movie_df.drop(movie_df[movie_df[3] == ""].index)
too_soon = pd.DataFrame(movie_df[[0,1]].drop(movie_df[movie_df[3] != ""].index).values, \
            columns= ['imdb_id', 'title'])

In [164]:
if len(too_soon) > 0:
    f_scrap = pd.read_csv('movies_to_scrap/too_soon.csv').set_index("imdb_id")
    f_scrap_df = pd.DataFrame(f_scrap, columns= ['imdb_id', 'title'])
    too_soon = pd.concat([f_scrap_df, too_soon]).set_index("imdb_id")
    too_soon.to_csv('movies_to_scrap/too_soon.csv')

In [14]:
movie_keep

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
1,tt6013920,Copyright Van Gogh,China's Van Goghs,2016,"[Yu Haibo, Yu Tianqi Kiki]","[nm8398121, nm8398120]","[Xiaoyong Zhao, Yongjiu Zhou, Yue]","[nm9133112, nm9133113, nm9133114]",[Documentary],80,"[China, Netherlands]","[Dutch, Chinese, English]","[Century Image Media, Trueworks, International...","[co0624443, co0250110, co0371416]",An intimate portrait of a peasant-turned oil p...,7.5,279,,
2,tt11286314,Don't Look Up: Déni cosmique,Don't Look Up,2021,[Adam McKay],[nm0570912],"[Leonardo DiCaprio, Jennifer Lawrence, Meryl S...","[nm0000138, nm2225369, nm0000658, nm0000949, n...","[Comedy, Drama, Sci-Fi]",138,[USA],[English],"[Bluegrass Films, Hyperobject Industries]","[co0235528, co0770923]","Kate Dibiasky (Jennifer Lawrence), an astronom...",7.3,84335,,

## Lists of data

In [33]:
imdb = list(movie_keep[0].values)
title = list(movie_keep[1].values)
original_title = list(movie_keep[2].values)
year = list(movie_keep[3].values)
director = list(movie_keep[4].values)
dir_code = list(movie_keep[5].values)
actor = list(movie_keep[6].values)
actor_code = list(movie_keep[7].values)
genres = list(movie_keep[8].values)
duration = list(movie_keep[9].values)
country = list(movie_keep[10].values)
language = list(movie_keep[11].values)
production = list(movie_keep[12].values)
prod_code = list(movie_keep[13].values)
synopsis = list(movie_keep[14].values)
rating = list(movie_keep[15].values)
num_rate = list(movie_keep[16].values)
budget = list(movie_keep[17].values)
bud_currency = list(movie_keep[18].values)
saw = ["" for i in range(len(imdb))]
db_saw = [0 for i in range(len(imdb))]

In [426]:
incr_code_list = [country, language]

In [427]:
incr_name = ["country", "language"]

In [430]:
for i in range(len(incr_name)):
    incr_df = pd.read_csv(f'db_backup/{incr_name[i]}_db.csv')
    code_db = list(incr_df.iloc[:,0])
    name_db = list(incr_df.iloc[:,1])
    max_id = max(code_db)

# 2- check if a country in the scrap is not in the database
    up_name = []
    up_code = []
    for j in range(len(incr_code_list[i])):
        for k in range(len(incr_code_list[i][j])):
            if incr_code_list[i][j][k] not in name_db and incr_code_list[i][j][k] != "":
                up_name.append(incr_code_list[i][j][k])
                up_code.append(max_id + 1)
                max_id += 1
                
   # 3- create update dataframe
    data_col = {f"{incr_df.columns[0]}": up_code, "name": up_name}
    up_inc = pd.DataFrame(data_col).set_index(f"{incr_df.columns[0]}")
    up_df = pd.concat([incr_df, up_inc])         
    
    if len(up_inc) > 0:
        up_inc.to_csv(f"update_db/up_{incr_name}5.csv")
        
    # 4- create country_codes for scraped movies
    var_code = [int(up_df.iloc[:,0][list(up_df.name.values).index(incr_code_list[i][j][k])]) \
                    for i in range(len(incr_code_list)) for j in range(len(incr_code_list[i]))]
    
    var_imdb = [imdb[i] for i in range(len(imdb)) for j in range(len(incr_code_list[i]))]
    
    movie_var_data = {"movie_id": var_imdb, f"{incr_name[i]}_id": var_code}
    up_movie_var = pd.DataFrame(movie_var_data)
    up_movie_var = up_movie_var.drop(up_movie_var[up_movie_var[f"{incr_name[i]}_id"] == ""].index).set_index("movie_id")
    up_movie_var.to_csv(f"update_db/up_movie_{incr_name[i]}5.csv")

ValueError: 'Dutch' is not in list

In [ ]:
up_movie_var.to_csv("update_db/up_movie_country.csv")

In [ ]:


    movie_country_data = {"movie_id": country_imdb, "country_id": country_code}
    up_movie_country = pd.DataFrame(movie_country_data)
    up_movie_country = up_movie_country.drop(up_movie_country[up_movie_country["country_id"] == ""].index).set_index("movie_id")
    up_movie_country.to_csv("update_db/up_movie_country.csv")

In [417]:
incr_code_list[1]

[['Dutch', 'Chinese', 'English'], ['English']]

In [ ]:

    

    # 3- create update dataframe
    data_col = {f"{incr_df.columns[0]}": up_code, "name": up_name}
    up_inc = pd.DataFrame(data_col).set_index(f"{incr_df.columns[0]}")
    up_df = pd.concat([incr_df, up_inc])

    # 4- create country_codes for scraped movies
    country_code = [int(up_df.iloc[:,0][list(up_df.name.values).index(incr_code_list[j][k])]) \
                    for i in range(len(incr_code_list)) for j in range(len(incr_code_list[i]))]

## Update country_sql

In [431]:
state_df = pd.read_csv('db_backup/country_db.csv')

In [432]:
code_state = list(state_df.country_id.values)
countries = list(state_df.name.values)

In [433]:
max_country_id = max(code_state)

In [434]:
update_state = []
update_state_code = []

In [435]:
for i in range(len(country)):
    for j in range(len(country[i])):
        if country[i][j] not in countries and country[i][j] != "":
            update_state.append(country[i][j])
            update_state_code.append(max_country_id + 1)
            max_country_id += 1

In [436]:
state_data = {"country_id": update_state_code, "name": update_state}

In [437]:
up_country = pd.DataFrame(state_data).set_index("country_id")
country_df = pd.concat([state_df, up_country])

In [440]:
country_df.country_id

0        0.0
1        1.0
2        2.0
3        3.0
4        4.0
       ...
194    194.0
195    195.0
196    196.0
197    197.0
198    198.0
Name: country_id, Length: 199, dtype: float64

In [143]:
for i in range(len(category)):    
    for j in range(len(imdb)):
        for j in range(len(category[k][i])):
            if ids == imdb[i]:
                temp_cat.append(category[k][i][j])
            elif ids != imdb[i]:
                dict_cat[ids] = " | ".join(temp_cat)
                ids = imdb[i]
                temp_cat = []
                temp_cat.append(category[k][i][j])
        dict_cat[ids] = " | ".join(temp_cat)

In [232]:
country_code = [int(country_df.country_id.values[list(country_df.name.values).index(country[i][j])]) \
                for i in range(len(country)) for j in range(len(country[i]))]

In [29]:
if len(up_country) > 0:
    up_country.to_csv("update_db/up_country.csv")

## Update language_sql

In [233]:
lan_df = pd.read_csv('db_backup/language_db.csv')

In [234]:
code_lan = list(lan_df.language_id.values)
lan = list(lan_df.name.values)

In [235]:
max_language_id = max(code_lan)

In [236]:
update_lan = []
update_lan_code = []

In [237]:
for i in range(len(language)):
    for j in range(len(language[i])):
        if language[i][j] not in lan and language[i][j] != "":
            update_lan.append(language[i][j])
            update_lan_code.append(max_language_id + 1)
            max_language_id += 1

In [238]:
lan_data = {"language_id": update_lan_code, "name": update_lan}

In [239]:
up_language = pd.DataFrame(lan_data)

In [240]:
language_df = pd.concat([lan_df, up_language])

In [241]:
language_code = [int(language_df.language_id.values[list(language_df.name.values).index(language[i][j])]) \
                for i in range(len(language)) for j in range(len(language[i]))]

In [184]:
up_language

Empty DataFrame
Columns: [language_id, name]
Index: []

In [70]:
if len(up_language) > 0:
    up_language.to_csv("update_db/up_language.csv")

## Creation of genre_code, country_code and language_code for data

In [327]:
genre_df = pd.read_csv("db_backup/genre_db.csv")
genre_code = [genre_df.genre_id.values[list(genre_df.name.values).index(genres[i][j])] \
            for i in range(len(genres)) for j in range(len(genres[i]))]

## Make change of currencies

In [328]:
changer = pd.read_excel("currency_change.xlsx")

In [329]:
def_budget = ["" if bud_currency[i] == "" else int(budget[i] * changer["Change"]\
                  .values[list(changer.Currencies.values).index(bud_currency[i])]) \
                  for i in range(len(bud_currency))]

## Update selection_film

#### List to string for directors, actors, genres, countries, language, production

In [330]:
dict_dir = {}
dict_cast = {}
dict_genre = {}
dict_country = {}
dict_language = {}
dict_prod = {}

In [331]:
temp_dir = []
temp_cast = []
temp_genre = []
temp_country = []
temp_language = []
temp_prod = []

In [332]:
ids = imdb[0]

In [333]:
for i in range(len(imdb)):
    for j in range(len(director[i])):
        if ids == imdb[i]:
            temp_dir.append(director[i][j]) 
        elif ids != imdb[i]:
            dict_dir[ids] = " | ".join(temp_dir)
            ids = imdb[i]
            temp_dir = []
            temp_dir.append(director[i][j])
    dict_dir[ids] = " | ".join(temp_dir)

In [334]:
director

[['Yu Haibo', 'Yu Tianqi Kiki'], ['Adam McKay']]

In [335]:
ids = imdb[0]

In [336]:
for i in range(len(imdb)):
    for j in range(len(cast[i])):
        if ids == imdb[i]:
            temp_cast.append(cast[i][j])
        elif ids != imdb[i]:
            dict_cast[ids] = " | ".join(temp_cast)
            ids = imdb[i]
            temp_cast = []
            temp_cast.append(cast[i][j])
    dict_cast[ids] = " | ".join(temp_cast)

In [337]:
ids = imdb[0]

In [338]:
for i in range(len(imdb)):
    for j in range(len(genres[i])):
        if ids == imdb[i]:
            temp_genre.append(genres[i][j])
        elif ids != imdb[i]:
            dict_genre[ids] = " | ".join(temp_genre)
            ids = imdb[i]
            temp_genre = []
            temp_genre.append(genres[i][j])
    dict_genre[ids] = " | ".join(temp_genre)

In [339]:
ids = imdb[0]

In [340]:
for i in range(len(imdb)):
    for j in range(len(country[i])):
        if ids == imdb[i]:
            temp_country.append(country[i][j])
        elif ids != imdb[i]:
            dict_country[ids] = " | ".join(temp_country)
            ids = imdb[i]
            temp_country = []
            temp_country.append(country[i][j])
    dict_country[ids] = " | ".join(temp_country)

In [341]:
ids = imdb[0]

In [342]:
for i in range(len(imdb)):
    for j in range(len(language[i])):
        if ids == imdb[i]:
            temp_language.append(language[i][j])
        elif ids != imdb[i]:
            dict_language[ids] = " | ".join(temp_language)
            ids = imdb[i]
            temp_language = []
            temp_language.append(language[i][j])
    dict_language[ids] = " | ".join(temp_language)

In [343]:
ids = imdb[0]

In [344]:
for i in range(len(imdb)):
    for j in range(len(production[i])):
        if ids == imdb[i]:
            temp_prod.append(production[i][j])
        elif ids != imdb[i]:
            dict_prod[ids] = " | ".join(temp_prod)
            ids = imdb[i]
            temp_prod = []
            temp_prod.append(production[i][j])
    dict_prod[ids] = " | ".join(temp_prod)

#### Put data in a dataframe

In [345]:
select_data = {"imdb_id": imdb, "vu": saw, "à voir": saw, "title": title, "original_title": original_title, \
               "year": year, "director": list(dict_dir.values()), "casting": list(dict_cast.values()), \
               "genres": list(dict_genre.values()), "duration": duration, \
               "country": list(dict_country.values()), "language": list(dict_language.values()), \
               "production": list(dict_prod.values()), "synopsis": synopsis, "rating": rating, \
               "num_rate": num_rate, "budget": def_budget}

In [346]:
select = pd.DataFrame(select_data).set_index("imdb_id")

In [347]:
select

,vu,à voir,title,original_title,year,director,casting,genres,duration,country,language,production,synopsis,rating,num_rate,budget
imdb_id,,,,,,,,,,,,,,,,
tt6013920,,,Copyright Van Gogh,China's Van Goghs,2016,Yu Haibo | Yu Tianqi Kiki,Xiaoyong Zhao | Yongjiu Zhou | Yue,Documentary,80,China | Netherlands,Dutch | Chinese | English,Century Image Media | Trueworks | Internationa...,An intimate portrait of a peasant-turned oil p...,7.5,279,
tt11286314,,,Don't Look Up: Déni cosmique,Don't Look Up,2021,Adam McKay,Leonardo DiCaprio | Jennifer Lawrence | Meryl ...,Comedy | Drama | Sci-Fi,138,USA,English,Bluegrass Films | Hyperobject Industries,"Kate Dibiasky (Jennifer Lawrence), an astronom...",7.3,84335,

In [262]:
select.to_csv("movies_scraped.csv")

## Update movie_sql

In [60]:
movie_data = {"imdb_id": imdb, "title": title, "original_title": original_title, "year": year, \
               "duration": duration, "rating": rating, "num_rate": num_rate, "budget": def_budget, \
               "synopsis": synopsis}

In [61]:
up_movie = pd.DataFrame(movie_data).set_index("imdb_id")

In [62]:
up_movie.to_csv("update_sql/up_movies.csv")

## Update user_db

In [ ]:
user_data = {"imdb_id": imdb, "saw": db_saw, "wishlist": db_saw}

In [ ]:
up_user = pd.DataFrame(user_data).set_index("imdb_id")

In [ ]:
up_user.to_csv("update_db/up_user.csv")

## Update actor_sql

In [63]:
actor_df = pd.read_csv('new_sql/actor_sql.csv')

In [64]:
code_actor = list(actor_df.code.values)

In [65]:
update_cast_code = []
update_cast = []

In [66]:
for i in range(len(cast_code)): 
    for j in range(len(cast_code[i])):
        if cast_code[i][j] not in code_actor:
            update_cast_code.append(cast_code[i][j])
            update_cast.append(cast[i][j])
            code_actor.append(cast_code[i][j])

In [67]:
actor_data = {"actor_id": update_cast_code, "name": update_cast}

In [68]:
up_actor = pd.DataFrame(actor_data)

In [69]:
up_actor = up_actor.drop(up_actor[up_actor["actor_id"] == ""].index).set_index("actor_id")

In [70]:
if len(update_cast) > 0:
    up_actor.to_csv("update_sql/up_actor.csv")

## Update director_sql

In [71]:
dir_df = pd.read_csv('new_sql/director_sql.csv')

In [72]:
code_dir = list(dir_df.code_name.values)

In [73]:
update_dir_code = []
update_dir = []

In [74]:
for i in range(len(dir_code)): 
    for j in range(len(dir_code[i])):
        if dir_code[i][j] not in code_dir:
            update_dir_code.append(dir_code[i][j])
            update_dir.append(director[i][j])
            code_dir.append(dir_code[i][j])

In [75]:
dir_data = {"director_id": update_dir_code, "name": update_dir}

In [76]:
up_dir = pd.DataFrame(dir_data)

In [77]:
up_dir = up_dir.drop(up_dir[up_dir["director_id"] == ""].index).set_index("director_id")

In [78]:
if len(update_dir) > 0:
    up_dir.to_csv("update_sql/up_dir.csv")

## Update production_sql

In [79]:
prod_df = pd.read_csv('new_sql/production_sql.csv')

In [80]:
code_prod = list(prod_df.prod_code.values)

In [81]:
update_prod_code = []
update_prod = []

In [82]:
for i in range(len(prod_code)): 
    for j in range(len(prod_code[i])):
        if prod_code[i][j] not in code_prod:
            update_prod_code.append(prod_code[i][j])
            update_prod.append(production[i][j])
            code_prod.append(prod_code[i][j])

In [83]:
prod_data = {"prod_id": update_prod_code, "name": update_prod}

In [84]:
up_prod = pd.DataFrame(prod_data)

In [85]:
up_prod = up_prod.drop(up_prod[up_prod["prod_id"] == ""].index).set_index("prod_id")

In [86]:
if len(update_prod) > 0:
    up_prod.to_csv("update_sql/up_prod.csv")

## Update movie_dir_sql

In [87]:
dir_imdb = [imdb[i] for i in range(len(imdb)) for j in range(len(dir_code[i]))]
all_dir = [dir_code[i][j] for i in range(len(imdb)) for j in range(len(dir_code[i]))]

In [88]:
movie_dir_data = {"movie_id": dir_imdb, "director_id": all_dir}

In [89]:
up_movie_dir = pd.DataFrame(movie_dir_data)

In [90]:
up_movie_dir = up_movie_dir.drop(up_movie_dir[up_movie_dir["director_id"] == ""].index).set_index("movie_id")

In [91]:
up_movie_dir.to_csv("update_sql/up_movie_dir.csv")

## Update movie_actor_sql

In [92]:
cast_imdb = [imdb[i] for i in range(len(imdb)) for j in range(len(cast_code[i]))]
all_actor = [cast_code[i][j] for i in range(len(imdb)) for j in range(len(cast_code[i]))]

In [93]:
movie_cast_data = {"movie_id": cast_imdb, "actor_id": all_actor}

In [94]:
up_movie_cast = pd.DataFrame(movie_cast_data)

In [95]:
up_movie_cast = up_movie_cast.drop(up_movie_cast[up_movie_cast["actor_id"] == ""].index).set_index("movie_id")

In [96]:
up_movie_cast.to_csv("update_sql/up_movie_cast.csv")

## Update movie_prod_sql

In [97]:
prod_imdb = [imdb[i] for i in range(len(imdb)) for j in range(len(prod_code[i]))]
all_prod = [prod_code[i][j] for i in range(len(imdb)) for j in range(len(prod_code[i]))]

In [98]:
movie_prod_data = {"movie_id": prod_imdb, "prod_id": all_prod}

In [99]:
up_movie_prod = pd.DataFrame(movie_prod_data)

In [100]:
up_movie_prod = up_movie_prod.drop(up_movie_prod[up_movie_prod["prod_id"] == ""].index).set_index("movie_id")

In [101]:
up_movie_prod.to_csv("update_sql/up_movie_prod.csv")

## Update movie_genre_sql

In [102]:
genre_imdb = [imdb[i] for i in range(len(imdb)) for j in range(len(genres[i]))]

In [103]:
movie_genre_data = {"movie_id": genre_imdb, "genre_id": genre_code}

In [104]:
up_movie_genre = pd.DataFrame(movie_genre_data)

In [105]:
up_movie_genre = up_movie_genre.drop(up_movie_genre[up_movie_genre["genre_id"] == ""].index).set_index("movie_id")

In [106]:
up_movie_genre.to_csv("update_sql/up_movie_genre.csv")

## Update movie_country_sql

In [107]:
country_imdb = [imdb[i] for i in range(len(imdb)) for j in range(len(country[i]))]

In [108]:
movie_country_data = {"movie_id": country_imdb, "country_id": country_code}

In [109]:
up_movie_country = pd.DataFrame(movie_country_data)

In [110]:
up_movie_country = up_movie_country.drop(up_movie_country[up_movie_country["country_id"] == ""].index).set_index("movie_id")

In [111]:
up_movie_country.to_csv("update_sql/up_movie_country.csv")

## Update movie_language_sql

In [112]:
language_imdb = [imdb[i] for i in range(len(imdb)) for j in range(len(language[i]))]

In [113]:
movie_language_data = {"movie_id": language_imdb, "language_id": language_code}

In [114]:
up_movie_language = pd.DataFrame(movie_language_data)

In [115]:
up_movie_language = up_movie_language.drop(up_movie_language[up_movie_language["language_id"] == ""].index).set_index("movie_id")

In [116]:
up_movie_language.to_csv("update_sql/up_movie_language.csv